$white: #FFFFFF;
$blue: #42A5F5;
$medium-blue: #29B6F6;
$light-blue: #B3E5FC;
$light-gray: #F8F8F8;
$gray: #E0E0E0;
$dark-gray: #9E9E9E;
$dark: #292A35;
$light-orange: #ffe6b9;
$light-green: #DCEDC8;
$light-red: #FFCDD2;
$plain-red: #EF5350;
$plain-blue: #03A9F4;
$box-shadow: 7px 7px 15px -10px rgba(37, 38, 49, 0.31);
